:root{
  --font-family-primary: "Red Hat Display", sans-serif;
  --font-family-secondary:"Roboto", sans-serif;
  --font-family-tertiary:"Arvo", serif;
  --font-family-decoration:"Dawning of a New Day";
}